{% extends 'base.html' %}
{% block title %}Лев Толстой – зеркало русской революции.{% endblock %}


{% if post.group %}   
  <a href="{% url 'posts:list' post.group.slug %}">все записи группы</a>
{% endif %} 



{% for post in posts %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>    
  <a href=“{% url ‘posts:list’ %}“>все записи группы</a>
  {% if not forloop.last %}<hr>{% endif %}
{% endfor %} 



